.cads-box {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  justify-content: space-around;
}

.sort-and-filter-box {
  width: 90%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;

  &__menu {
    transition: 1s;
    overflow: hidden;
    display: flex;

    .params {
      display: flex;
      flex-wrap: wrap;

      form {
        i {
          margin-left: 15px;
        }

        input {
          width: 60px;
          margin-left: 5px;
        }
      }
    }

    .opened-params {
      margin-right: 15px;
      transform: rotate(180deg);
    }

    .arrow {
      font-size: 30px;
      transition: .3s;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
