.cart-list{
    padding-top: 10px;
    width: 90%;
    max-width: 800px;        
    margin: 0 auto;
}

.total{
    padding-top: 10px;
    width: 90%;
    max-width: 800px;        
    margin: 0 auto;
}

.back{
    padding-top: 80px;
    width: 90%;
    max-width: 800px;        
    margin: 0 auto;
}

.cart-page{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    max-width: 800px;
    text-align: end;
    margin-right: 30px;
}