.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 3px;
  width: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  margin-bottom: 20px;


  &__img {
    width: 100%;
    transition: 0.3s;

    &:hover{
      opacity: 0.6;
    }
  }

  &__body {
    padding: 10px 0px 10px 10px;
  }

  &__title {
    margin: 0;
  }
  &__footer {
    p{
      padding: 0 20px;
      text-align: end;
      font-size: 16pt;
      margin-left: 20px;
    }
  }
}

@media (max-width: 767px){
  .card{
    width: 70%;
    max-width: 400px;
  }
}
@media (max-width: 567px){
  .card{
    width: 90%;
  }
}
